:root{
  --kellyGreen: #056600;
  --darkModeGray: #303A40;
  --blueGray: #46545D;
  --offWhite: #F5F5F5;

  --mainFont: input-mono, monospace;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
}
.marquee {
  animation: marquee 30s linear infinite;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  font-family: "Barlow", sans-serif;
}
#top {
  height: 7%;
  background-color: var(--offWhite);
  border-bottom: solid;
  border-bottom-color: var(--kellyGreen);
  border-bottom-width: 2px;
  color: #067A00;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
}
#footer {
  background-color: var(--offWhite);
  border-top: solid;
  border-top-color: var(--kellyGreen);
  color: black;
  font-family: "Brother-1816", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1;
}
#title {
  letter-spacing: 0.1rem;
  font-family: "brother-1816", "barlow-condensed", sans-serif;
  font-size: 3em;
  text-align: left;
  color: var(--kellyGreen);
  font-weight: normal;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
}
#title a {
  text-decoration: none;
}
#title img {
  margin: 15%;
}
#title a:link {
  color: inherit;
}
#title a:visited {
  color: inherit;
}
#navBar {
  width: 100%;
  background-color: var(--kellyGreen);
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 400;
}
#navBar a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
  transition: 300ms;
}
#navBar a:link a:visited {
  color: inherit;
}
#navBar a:hover {
  color: black;
  background-color: var(--offWhite);
}
#body {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  overflow: hidden;
}
#body hr {
  border-top: 2px solid var(--kellyGreen);
}
#sidebar {
  background-color: rgba(200, 239, 198, 0.5);
  width: 35%;
}
#sidebar img {
  width: 100px;
  height: auto;
}
#sidebar h1,#sidebar h2,#sidebar h3,#sidebar h4,#sidebar h5,#sidebar h6 {
  font-size: 1.7em;
  color: black;
  text-align: left;
  margin-left: 10%;
  border-bottom: solid var(--kellyGreen) 2px;
}
#sidebar p {
  color: #1d7519;
  text-align: left;
  margin-left: 17%;
  margin-right: 2%;
  font-size: 1.1em;
}
#sidebar p, img, h2, h3, h4, h5, h6 {
  margin-top: 3%;
}
#content {
  padding-top: 3%;
  height: auto;
  width: 65%;
  font-size: 1.1em;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  /*color: CHOOSE COLOR */
  font-size: 2.5rem;
}
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-left: 30%;
  margin-bottom: 5%;
  border: outset #BCE4E8 5px;
}
.slides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #303A40;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.prev:hover, .next:hover {
  background-color: rgba(245,245,245,0.8);
}
.caption {
  color: #303A40;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.slidePosition {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation: fade 1.5s;
}

#contentText {
  text-align: left;
  margin: 2%;
  margin-bottom: 10%;
}
#contentText ul {
  list-style: url("assets/html.png"); 
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
#contentText h3 {
  color: #46545D;
  margin-left: 3%;
  margin-right: 3%;
  line-height: 2;
  border-bottom: dashed #303A40 3px;
  font-size: 1.3em;
}
#contentText p {
  color: #7F8B99;
  margin-left: 5%;
}
@keyframes marquee {
  0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
  }

}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }

}

button.toggleThemeButton {
  position: sticky;
  border-radius: 10%;
  /* style */
]