:root{
  --kellyGreen: #056600;
  --darkModeGray: #303A40;
  --blueGray: #46545D;
  --offWhite: #F5F5F5;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
}
.marquee {
  animation: marquee 30s linear infinite;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  font-family: "Barlow", sans-serif;
}
#top {
  height: 7%;
  background-color: #F5F5F5;
  border-bottom: solid;
  border-bottom-color: var(--kellyGreen);
  border-bottom-width: 2px;
  color: #067A00;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
}
#footer {
  background-color: #F5F5F5;
  border-top: solid;
  border-top-color: var(--kellyGreen);
  color: black;
  font-family: "Brother-1816", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
}
#title {
  font-family: "brother-1816", "barlow-condensed", sans-serif;
  font-size: 3em;
  text-align: left;
  color: var(--kellyGreen);
  font-weight: normal;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
}
#title a {
  text-decoration: none;
}
#title img {
  margin: 15%;
}
#title a:link {
  color: inherit;
}
#title a:visited {
  color: inherit;
}
#navBar {
  width: 100%;
  background-color: var(--kellyGreen);
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
#navBar a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
}
#navBar a:link a:visited {
  color: inherit;
}
#navBar a:hover {
  color: black;
  background-color: #F5F5F5;
}
#body {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  overflow: hidden;
}
#body hr {
  border-top: 2px solid var(--kellyGreen);
}
#sidebar {
  background-color: rgba(200, 239, 198, 0.5);
  width: 60%;
}
#sidebar h1,h2,h3,h4,h5,h6 {
  color: var(--kellyGreen);
  text-align: left;
  margin-left: 10%;
  border-bottom: solid var(--kellyGreen) 2px;

}
#sidebar p {
  color: #1d7519;
  text-align: left;
  margin-left: 17%;
  margin-right: 2%;
  font-size: 1.1em;
}
#sidebar p, img, h2, h3, h4, h5, h6 {
  margin-top: 3%;
}
#content {
  padding-top: 3%;
  height: auto;
  width: 40%;
  font-size: 1.1em;
}
#content h1,h2,h3,h4,h5,h6 {
  border-bottom: solid var(--kellyGreen) 2px;
}
@keyframes marquee {
  0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}






