:root {
    --kellyGreen: #056600;
    --darkModeGray: #303A40;
    --textGreen: #53A14F;
    --blueGray: #46545D;
    --offWhite: #F5F5F5;
    --lightGray: rgb(192, 192, 200);

    --mainFont: input-mono, monospace;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  
  background-color: var(--darkModeGray) ;
}

@media (min-height: 1200px) {
  body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  background-color: var(--darkModeGray) ;
}
}

.marquee {
  animation: marquee 45s linear infinite;
}

#wrapper {
  margin: 0 auto;
  /*display: flex;
  flex-flow: column wrap;*/
  font-family: var(--mainFont);
  color: var(--offWhite);
}

#top {
  height: 7%;
  border-bottom: solid;
  background-color: inherit;
  border-bottom-color: var(--kellyGreen);
  border-bottom-width: 2px;
  color: var(--textGreen);
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
}

#title {
    letter-spacing: 0.1rem;
    font-family: "brother-1816", "barlow-condensed", sans-serif;
    font-size: 3em;
    text-align: left;
    color: var(--offWhite);
    font-weight: normal;
    display: flex;
        flex-flow: row no-wrap;
        justify-content: center;
        align-items: center;
}

#title a {
    text-decoration: none;
}

#title a:link {
    color: inherit;
}

#title a:visited {
    color: inherit;
}

#title img {
  margin: 15%;
  margin-bottom: 0%;
  height: 120px;
  width: auto;
}

@media (min-height: 1200px) {
  #title img {
  margin: 15%;
  margin-bottom: 0%;
  height: 160px;
  width: auto;
  }
}

.navBar {
    width: 100%;
    background-color: inherit;
    color: var(--offWhite);
    font-size: 1.7em;
    display: flex;
        justify-content: center;
    font-family: var(--mainFont);
    font-weight: 400;
    margin-bottom: 10px;
    box-shadow: 2px 6px 6px rgba(10,10,20, 0.25);
}

.navBar a {
    text-decoration: none;
    color: inherit;
    padding-left: 3%;
    padding-right: 3%;
    transition: 300ms;
}

.navBar a:link a:visited {
    color: inherit;
}

.navBar a:hover {
    color: var(--blueGray);
    background-color: var(--offWhite);
}

#footer {
    background-color: inherit;
    border-top: solid;
    border-top-color: var(--kellyGreen);
    color: var(--textGreen);
    font-family: "Brother-1816", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1;

    bottom: 0px;
}

#content {
    background-color: inherit;

    margin: 1.5em 0em;
    padding: 0em 0.75em;
    height: auto;
    /* width: 100vh */;

    font-size: 1.1em;
    color: var(--offWhite);

    display: flex;
        flex-flow: column;

}

div.projectContainer {
    background-color: inherit;
    color: inherit;

    width: 100%;
    margin: 1em 0;
    /* height: 10em; */

    display: grid;
        /* grid-template-columns: 1fr 2fr; */
        grid-auto-columns: minmax(100px auto);
        grid-template-rows: 7fr 1fr;
        grid-auto-rows: minmax(120px auto);
}

p.project { /* Description */
    color: inherit;

    font-size: 18px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;

    grid-column: 2;
    grid-row: 1 / 3;
}

img.project { /* image */
    width: 350px;
    padding: 5px;

    grid-column: 1;
    grid-row: 1;
}

span.project { /* caption */
    color: inherit;

    font-size: 15px;
    padding: 5px;

    grid-column: 1;
    grid-row: 2;
}

#menuContainer {
  width: 5%;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 0vh;
  margin: 2%;
  opacity: 0;
  transition: 1s;
  transform: translate(0, -5vh) rotate(45deg);
}
#menuContainer.visible {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 5vh;
  opacity: 1;
  transform: translate(0,0) rotate(0deg);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#miniNav {
  width: 0vw;
  height: 0vh;
  transition: all 1s;
  opacity: 0;
  color: var(--offWhite);
  font-size: 1.7em;
  display: flex;
  border: solid var(--blueGray) 3px;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 400;
  background-color: rgba(48,58,64,0.5);
  white-space: nowrap;
}
#miniNav a{
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
  transition: 300ms;
}

#miniNav a:link a:visited {
  color: inherit;
}
#miniNav a:hover {
  color: var(--blueGray);
  background-color: var(--offWhite);
}

@keyframes enlarge {
  0% {height: 4vh; width: 0vw;opacity: 0;}
  100% {height: 10vh; width: 32.8vw; opacity: 1;}
}
@keyframes depress {
  0% {height: 10vh; width: 32.8vw; opacity: 1;}
  100% {height: 4vh; width: 0vw; opacity: 0;}
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}