:root {
    --kellyGreen: #056600;
    --darkModeGray: #303A40;
    --blueGray: #46545D;
    --offWhite: #F5F5F5;
    --lightGray: rgb(192, 192, 200);

    --mainFont: input-mono, monospace;
}

body {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    line-height: 1.231;
    min-width: 1200px;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

    font-family: var(--mainFont);
    background-color: var(--darkModeGray);
}

#head {
    background-color: inherit;
}

#title {
    letter-spacing: 0.1rem;
    font-family: "brother-1816", "barlow-condensed", sans-serif;
    font-size: 3em;
    text-align: left;
    color: var(--offWhite);
    font-weight: normal;
    display: flex;
        flex-flow: row no-wrap;
        justify-content: center;
        align-items: center;
}

#title a {
    text-decoration: none;
}

#title a:link {
    color: inherit;
}

#title a:visited {
    color: inherit;
}

#title img {
    margin: 15%;
    height: 120px;
    width: auto;
}

#navBar {
    width: 100%;
    background-color: inherit;
    color: var(--offWhite);
    font-size: 1.5em;
    display: flex;
        justify-content: center;
    font-family: var(--mainFont);
    font-weight: 400;
    margin-bottom: 10px;
    /* box-shadow: 2px 4px 4px rgba(10, 10, 20, 0.25); */
    box-shadow: 0px 0px 8px 6px rgba(10, 10, 20, 0.25);
}

#navBar a {
    text-decoration: none;
    color: inherit;
    padding-left: 3%;
    padding-right: 3%;
    transition: 300ms;
}

#navBar a:link a:visited {
    color: inherit;
}

#navBar a:hover {
    color: var(--blueGray);
    background-color: var(--offWhite);
}

#footer {
    background-color: inherit;
    border-top: solid;
    border-top-color: var(--kellyGreen);
    color: var(--kellyGreen);
    font-family: "Brother-1816", sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1;

    bottom: 0px;
}

#content {
    background-color: inherit;

    margin: 1.5em 0em;
    padding: 0em 0.75em;
    height: auto;
    /* width: 100vh */;

    font-size: 1.1em;
    color: var(--offWhite);

    display: flex;
        flex-flow: column;

}

div.projectContainer {
    background-color: inherit;
    color: inherit;

    width: 100%;
    margin: 1em 0;
    /* height: 10em; */

    display: grid;
        /* grid-template-columns: 1fr 2fr; */
        grid-auto-columns: minmax(100px auto);
        grid-template-rows: 7fr 1fr;
        grid-auto-rows: minmax(120px auto);
}

p.project { /* Description */
    color: inherit;

    font-size: 18px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;

    grid-column: 2;
    grid-row: 1 / 3;
}

img.project { /* image */
    width: 100%;
    padding: 5px;

    grid-column: 1;
    grid-row: 1;
}

span.project { /* caption */
    color: inherit;

    font-size: 15px;
    padding: 5px;

    grid-column: 1;
    grid-row: 2;
}