:root {
  --kellyGreen: #056600;
  --darkModeGray: #303A40;
  --blueGray: #46545D;
  --offWhite: #F5F5F5;
  --lightGray: rgb(192, 192, 200);

  --mainFont: input-mono, monospace;
}

body {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  font-family: var(--mainFont);
  background-color: var(--darkModeGray);
}

#head {
  background-color: inherit;
}

#title {
  letter-spacing: 0.1rem;
  font-family: "brother-1816", "barlow-condensed", sans-serif;
  font-size: 3em;
  text-align: left;
  color: var(--offWhite);
  font-weight: normal;
  display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
}

#title a {
  text-decoration: none;
}

#title a:link {
  color: inherit;
}

#title a:visited {
  color: inherit;
}

#title img {
  margin: 15%;
  height: 120px;
  width: auto;
}

#navBar {
  width: 100%;
  background-color: inherit;
  color: var(--offWhite);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 400;
  margin-bottom: 1em;
  box-shadow: 0px 0px 8px 6px rgba(10, 10, 20, 0.25);

  z-index: 2;
  position: sticky;
}

#navBar a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
  transition: 300ms;
}

#navBar a:link a:visited {
  color: inherit;
}

#navBar a:hover {
  color: var(--blueGray);
  background-color: var(--offWhite);
}

#footer {
  background-color: inherit;
  border-top: solid;
  border-top-color: var(--kellyGreen);
  color: var(--kellyGreen);
  font-family: "Brother-1816", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1;

  bottom: 0px;
}

#body {
  letter-spacing: .2rem;
  font-family: "Barlow", sans-serif;
  color: #056600;
  font-size: 1.5em;
  background-color: white;
}
#about {
  display: flex;
  flex-flow: row no-wrap;
  letter-spacing: normal;
  text-align: left;
}
#about h2{
  font-size: 1.5em;
}
#about p {
  color: black;
}
#left-about {
  width: 50%;
  padding: 2%;
  padding-top: 0%;
}
#right-about {
  width: 50%;
  padding: 2%;
  padding-top: 0%;
}
@keyframes marquee {
  0% {
transform: translateX(100%);
  }
100% {
transform: translateX(-100%);
  }  
}






