:root {
  --kellyGreen: #056600;
  --darkModeGray: #303A40;
  --blueGray: #46545D;
  --offWhite: #F5F5F5;
  --lightGray: rgb(192, 192, 200);

  --mainFont: input-mono, monospace;
}

body {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  font-family: var(--mainFont);
  background-color: var(--darkModeGray);
}

#head {
  background-color: inherit;
}

#title {
  letter-spacing: 0.1rem;
  font-family: "brother-1816", "barlow-condensed", sans-serif;
  font-size: 3em;
  text-align: left;
  color: var(--offWhite);
  font-weight: normal;
  display: flex;
    flex-flow: row no-wrap;
    justify-content: center;
    align-items: center;
}

#title a {
  text-decoration: none;
}

#title a:link {
  color: inherit;
}

#title a:visited {
  color: inherit;
}

#title img {
  margin: 15%;
  height: 120px;
  width: auto;
}

#navBar {
  width: 100%;
  background-color: inherit;
  color: var(--offWhite);
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 400;
  box-shadow: 0px 0px 8px 6px rgba(10, 10, 20, 0.25);

  z-index: 2;
  position: sticky;
}

#navBar a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
  transition: 300ms;
}

#navBar a:link a:visited {
  color: inherit;
}

#navBar a:hover {
  color: var(--blueGray);
  background-color: var(--offWhite);
}

#footer {
  background-color: inherit;
  border-top: solid;
  border-top-color: var(--kellyGreen);
  color: var(--kellyGreen);
  font-family: "Brother-1816", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1;

  bottom: 0px;
}

#body {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  overflow: hidden;
  background-color: var(--darkModeGray);
}

#blog {
  width: 100%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
  font-size: 1.2em;
  background-color: var(--blueGray);
}

#blogTitle {
  text-align: center;
}

#blogIntro {
  margin: 3%;
}

#tableOfContents {
  background: var(--lightGray) none repeat scroll;
  border: 1px solid var(--offWhite);
  display: table;
  font-size: 1.6em;
  margin-bottom: 1em;
  padding: 20px;
  width: 80%;
  height: auto;
  margin: auto;
}

#tableOfContents p {
  font-weight: 700;
  text-align: center;
}

#tableOfContents a {
  text-decoration: none;
}

#tableOfContents a:link,
#tableOfContents a:visited {
  color: inherit;
}

#tableOfContents li,
#tableOfContents ul,
#tableOfContents ul li {
  list-style: outside none none;
}

.blogText {
  margin: 3%;
  line-height: 1.5em;
}

.blogText h2 {
  text-align: center;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}