<<<<<<< HEAD:member.css
:root {
  --underTitleText: white;
  --underTitleBackground: #056600;
  --titleText: #056600;
  --borderColor: #056600;
  --topNBottomBackgroundColor: #F5F5F5;
  --underTitleHover: #F5F5F5;
}
=======
:root{
  --kellyGreen: #056600;
  --darkModeGray: #303A40;
  --blueGray: #46545D;
  --offWhite: #F5F5F5;

  --mainFont: input-mono, monospace;
}

>>>>>>> refs/remotes/origin/Tanjeed:pages/member/member.css
html, body {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
  min-width: 1200px;
  overflow-x: hidden;
}
.marquee {
  animation: marquee 30s linear infinite;
}
#wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  font-family: "Barlow", sans-serif;
}
#footer {
  background-color: var(--offWhite);
  border-top: solid;
  border-top-color: var(--kellyGreen);
  color: black;
  font-family: "Brother-1816", sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1;
}
#title {
<<<<<<< HEAD:member.css
  letter-spacing: 0.1rem;
  font-family: "Barlow Condensed", sans-serif;
=======
  font-family: "brother-1816", "barlow-condensed", sans-serif;
>>>>>>> refs/remotes/origin/Tanjeed:pages/member/member.css
  font-size: 3em;
  text-align: left;
  color: var(--kellyGreen);
  font-weight: normal;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: center;
}
#title a {
  text-decoration: none;
}
#title img {
  margin: 15%;
}
#title a:link {
  color: inherit;
}
#title a:visited {
  color: inherit;
}

#navBar {
  width: 100%;
  background-color: var(--kellyGreen);
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 400;
}
#navBar a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
}
#navBar a:link a:visited {
  color: inherit;
}
#navBar a:hover {
  color: black;
  background-color: var(--offWhite);
}

#underTitle {
  width: 100%;
  background-color: #056600;
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
#underTitle a {
  text-decoration: none;
  color: inherit;
  padding-left: 3%;
  padding-right: 3%;
  transition: 300ms;
}
#underTitle a:link a:visited {
  color: inherit;
}
#underTitle a:hover {
  color: black;
  background-color: var(--offWhite);
}
#body {
  font-size: 1.3em;
  background-color: white;
}
.grid {
  padding-left: 3%;
  padding-top: 3%;
  width: 100%;
  min-height: 200vh;
  display: grid;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: 25% 25% 25%;
  grid-gap: 4%;
}
.grid div {
  padding: 20px;
}          
.portfolio {
  border-radius: 20px;
  border: solid #056600 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;
  background-color: white;
}
.portfolio img {
  float: left;
  border-radius: 25%;
  min-width: 80px;
  height: auto;
}
.portfolio h2 {
  margin-top: 0;
  font-size: 4.4vh;
}
.portfolio h3 {
  font-size: 3vh;
}
.portfolio p {
  font-size: 2.8vh;
}
@keyframes marquee {
  0% {
transform: translateX(100%);
  }
100% {
transform: translateX(-100%);
  }  
}
@media only screen and (min-width: 1600px) {
  .portfolio img {
    min-width: 140px;
  }
}






